<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wangfeng.iadmin.dao.AdminSysUserMapper">
  <resultMap id="BaseResultMap" type="com.github.wangfeng.iadmin.common.po.entity.AdminSysUserDO">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <insert id="insert"  useGeneratedKeys="true" keyProperty="id" parameterType="com.github.wangfeng.iadmin.common.po.entity.AdminSysUserDO">
    insert into `admin_sys_user` (`id`, `user_code`, `login_name`, 
      `nick_name`, `real_name`, `password`, 
      `salt`, `mobile`, `email`, 
      `sex`, `remark`, `status`, 
      `create_date`, `create_by`, `update_date`, 
      `update_by`)
    values (#{id,jdbcType=BIGINT}, #{userCode,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select `id`, `user_code`, `login_name`, `nick_name`, `real_name`, `password`, `salt`, 
    `mobile`, `email`, `sex`, `remark`, `status`, `create_date`, `create_by`, `update_date`, 
    `update_by`
    from `admin_sys_user`
  </select>
</mapper>